/****** mobile  ***********/
@media (max-width: 1024px) {
    .accommodation-and-popular {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    
}
.main-container{
    padding: 0;
    gap: 35px;
}
header{
    padding: 0 20px;
}
#accommodation{
    width: 100%;
    padding: 30px 10px;
    
}
.accommodation-cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 0;
    padding: 30px;
    box-sizing: border-box;
}
section.popular {
    width: 100%;
}

.activity-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    height: 100%;
}

#activities-in-marseille .card {
    width: 100%;
    height: 200px;
}
.logo{
    padding: 30px;
    gap: 10px;
    justify-self: center;
    cursor: pointer;
}
nav {
    display: grid;
    justify-content: center;
    width: 100%;
    padding: 0;
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    color: black;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

.nav_links a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    position:relative;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.nav_links a::after{
content: '';
height: 2px;
width: 100%;
background: #0065FC;
position:absolute;
left:0;
top: 33px;
opacity: 0;
transition: all 0.2s;
pointer-events: none;
z-index: 1;

}
.nav_links a:hover::after,
.nav_links a:focus::after
{
opacity: 1;
}
.nav_links a:hover,
.nav_links a:focus
{
    opacity: 1;
    color: #0065FC;
    transition: all 0.2s;
}
/****** footer ***********/
footer{
    width: 100%;
    height: 163px;
    background-color: #F2F2F2;
    display: flex;
    align-items: flex-start;
    
}
footer div{
    width: 33%;
    padding-left: 25px;
}
footer ul{
    padding: 0px;
}
footer li{
    list-style: none;
    padding: 5px 0;
    
}
footer a{
    text-decoration: none;
    color: black;
}

}
@media screen and (max-width: 1024px) {
  .filters-sec{
    display: grid;
    gap: 0;
  }
    .filters {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
  .filters li:not(.listed-f) {
    margin: 5px 0;
    width: 100%;
  }
}