/****** mobile  ***********/
@media (max-width: 768px) {
    .accommodation-and-popular {
        display: flex;
        flex-direction: column-reverse;
    }

    .accommodation-and-popular section {
        border-radius: 0px;
    }

    .main-container {
        padding: 0;
        gap: 35px;
    }

    header {
        padding: 0 20px;
    }

    #accommodation {
        width: 100%;
        padding: 30px 10px;

    }

    .accommodation-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }


    section.popular {
        width: 100%;
    }

    .popular-cards{
        display: flex;
        flex-direction: column;
    }
    .popular-cards .card{
        width: 100%;
    }

    .activity-cards {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
        height: 100%;
    }

    #activities-in-marseille .card {
        width: 100%;
    }

    #activities-in-marseille img {
        border-radius: 20px 20px 0 0;
        width: 100%;
        background-size: cover;
        height: 141px;
    }

    .logo {
        padding: 30px;
        gap: 10px;
        justify-self: center;
        cursor: pointer;
    }

    header {
        margin: 175px 0 0 0;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
        list-style-type: none;
        font-weight: 400;
        font-size: 16px;
        color: black;
        position: fixed;
        top: 0;
        background-color: white;
        z-index: 1;
        border-bottom: 1px solid #ccc;
    }


    .nav_links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  .nav_links li {
    flex: 1;
    text-align: center;
    padding: 0;
  }
  .nav_links a {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 16px 0 8px 0;
  }
  .nav_links a::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%; 
    background: #0065FC;
    position: absolute;
    left: 0;
    top: 57px;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 1;
  }
  .nav_links a:focus::after,
  .nav_links a:hover::after,
  .nav_links a.active::after {
    opacity: 1;
  }

    #accommodation {
        background-color: white;
    }

    .search {
        width: 100%;

    }

    .search-box {
        width: 100%;
    }
    
    .search-btn {
    width: 49px;
    padding: 0;
  }
  .search-btn span {
    display: none;
  }
  .search-btn i {
    display: block;
    font-size: 18px;
    color: white;
    line-height: 49px;
    text-align: center;
  }

    /****** footer ***********/
    footer {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .filters-sec {
        display: grid;
        gap: 0;
    }

    .filters {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
    }

    .filters li:not(.listed-f) {
        margin: 5px 0;
        width: 100%;
    }

    .filters a {
        width: 70%;
    }
}