/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
}
.accommodation-title{
    margin: 0px;
    font-size: 22px;

}
.accommodation-cards img{
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.accommodation-cards .card{
    background-color: white;
    border-radius: 20px;
    padding-bottom: 15px;
    width: 30%;

}
.accommodation-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    margin-top: 33px;
}
/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}
/****** Navbar ***********/
.logo{
    padding: 30px 0px 0px 40px;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

nav {
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    color: black; 
    
}
.nav_links a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    position:relative;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links{
    display: flex;
    justify-content: space-between;
}
.nav_links a::after{
content: '';
height: 2px;
width: 100%;
background: #0065FC;
position:absolute;
left:0;
bottom:41px;
opacity: 0;
transition: all 0.2s;
pointer-events: none;
}
.nav_links a:hover::after,
.nav_links a:focus::after
{
opacity: 1;
}
.nav_links a:hover,
.nav_links a:focus
{
    opacity: 1;
    color: #0065FC;
    transition: all 0.2s;

}
/****** search-bar ***********/
.search{
    margin: 30px 0px;
    width: 338px;
    height: 49px;
    display: flex;
    border: 1px solid #f2f2f2;
    border-radius: 17px;
    
}
.search-box{
    border:none;
    width: 195px;
    height: 49px;
    outline: 0;


}
.location-box{
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.fa-location-dot{
    font-size: 18px;
    position: relative;
    top: 15px;
    left: 18px;
    color: black;
}
.search-btn{
    color: white;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
    width: 93px;
    height: 49px;
    border: 1px solid #0065FC;
background-color: #0065FC;
}

/****** filters ***********/

.filters{
        list-style-type: none;
        display: flex;
        height: 50px;
        padding-left: 0px;
}
.filters i {
    margin-right: 10px;
    
}

.filters li{
    margin: 0 15px 0 0;
    font-size: 17px;
    font-weight: 700;
    justify-content: space-between;
    display: flex;
    align-items: center;
   
    
}

.filters a{
    cursor: pointer;
    border: 2px solid #D9D9D9;
    padding: 4px 19px ;
    border-radius: 25px;
    display: flex;
    height: 38px;
    align-items: center;
     color: inherit;
  text-decoration: none;
  
}
.filters a:hover,
.filters a:focus{
    opacity: 1;
    background-color: #DEEBFF;
    transition: all 0.2s;
}
.info{
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
}
.fa-info{
    width: 24px;
    height: 24px;
border: 1px solid #F2F2F2;
border-radius: 100%;
display: flex;
  align-items: center;
  justify-content: center;

}
.info-sec{
    display: flex;
    align-items: center;
}




