/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}
/****** Navbar ***********/
.logo{
    padding: 30px 0px 0px 30px;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

nav {
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    color: black; 
    
}
.nav_links a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    position:relative;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links{
    display: flex;
    justify-content: space-between;
}
ul a::after{
content: '';
height: 2px;
width: 100%;
background: #0065FC;
position:absolute;
left:0;
bottom:41px;
opacity: 0;
transition: all 0.2s;
pointer-events: none;
}
ul a:hover::after,
ul a:focus::after
{
opacity: 1;
}
ul a:hover,
ul a:focus
{
    opacity: 1;
    color: #0065FC;
    transition: all 0.2s;

}
/****** search-bar ***********/
.search{
    width: 338px;
    height: 49px;
    display: flex;
    border: 1px solid #f2f2f2;
    border-radius: 17px;
    
}
.search-box{
    border:none;
    width: 259px;
    height: 49px;
outline: 0;


}
.location-box{
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.fa-location-dot{
    font-size: 18px;
    position: relative;
    top: 15px;
    left: 18px;
    color: black;
}
.search-btn{
    border-radius: 15px;
    width: 49px;
    height: 49px;
    border: 1px solid #0065FC;
background-color: #0065FC;
}

.fa-magnifying-glass{
    font-size: 17px;
    color: #FFFFFF;
}


